<%- include('partials/header.ejs') %>
<!-- jumbotron -->
<section class="jumbotron text-center">
  <div class="container">
    <img src="/img/logo.svg" alt="app logo" height="48">
    <h1 class="jumbotron-heading">Welcome to Express Blog</h1>
    <p class="lead text-muted">A place where you can create your post about your favorites topic using the power of javascript node and express Js.</p>
    <p>
      <a href="/new-post" class="btn btn-primary my-2">Create New Post</a>
      <a href="/contact" class="btn btn-secondary my-2">Contact</a>
    </p>
  </div>
</section>
<!-- end jumbotron -->

<!-- main section -->
<% if(userPost.length < 1){ %>
    <div class="px-4 py-5 my-5 text-center">
        <h1>No post to show Here Pleseacre create new one 😔.</h1>
    </div>
<% }else{  %>
  <div class="container">
    <div class="row">
    <% userPost.forEach((post, i)=>{%>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="<%= post.imgURL %>" alt="post img" height="200">
          <div class="card-body">
            <p class="card-text"><%= post.postContent.slice(0, 121) %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="post/<%= i %>">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </a>
                <a href="post/update/<%= i %>">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } )%>
      </div>
    </div>
<% } %>
<!-- end main section -->

<%- include('partials/footer.ejs') %>
